absl-py==2.1.0
asgiref==3.3.4  # Compatible with Django 3.2.25
astunparse==1.6.3
attrs==23.2.0
autobahn==23.1.2  # Latest available version
Automat==22.10.0
better-profanity==0.7.0
certifi
cffi
channels==3.0.4  # Compatible with Django 3.2.25
charset-normalizer
constantly
cryptography
daphne==3.0.2  # Compatible with channels 3.0.4
Django==3.2.25  # Downgraded to the compatible version
django-cors-headers==3.7.0  # Compatible with Django 3.2.25
django-jazzmin==2.6.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
flatbuffers
gast==0.5.4
google-pasta
grpcio
h5py
hyperlink
idna
incremental
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
nsfw-detector==1.1.1
numpy
opt-einsum
optree
packaging
pillow
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyOpenSSL
python-dotenv
pytz
requests
rich
scikit-learn
scipy
service-identity
setuptools
six
sqlparse
termcolor
threadpoolctl
Twisted
txaio
typing_extensions
tzdata
urllib3
vaderSentiment
wrapt
