asgiref
attrs
autobahn
Automat
cffi
channels
channels-redis
cloudinary
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
hyperlink
psycopg2
pyasn1
pyasn1-modules
pyOpenSSL
python-dotenv
redis
service-identity
six
sqlparse
txaio
typing_extensions
zope.interface