asgiref
attrs
autobahn
Automat
certifi7
cffi
channels
channels-redis
cloudinary
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
hyperlink
idnancremental
msgpack
packagingillow
psycopg2
pyasn1
pyasn1-modules
pycparseryJWT
pyOpenSSL
python-dotenv
pytzost1
redis
service-identity
six
sqlparse
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdatarllib3
zope.interface